		<% houses[0,3].each do |house| %>
				<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading preview">
						<%= image_tag house.cover_photo(:medium)%>
					</div>
					<div class="panel-body text-center">
						<%= link_to house.listing_name, house %> <br/>
						<%= number_to_currency(house.price, precision: 0) %> - <%= house.home_type %> - <%= pluralize(house.bed_room, "bed") %>
					</div>
				</div>
				</div>
		<% end %>
