<div class="panel panel-default">
	<div class="panel-heading">
		List your House
	</div>
	<div class="panel-body">
		<div class="container">
			
			<%= form_for @house do |f| %>
				<div class="row">
					<div class="col-md-4 select">
						<div class="form-group">
							<label>Home Type</label>
							<%= f.select :home_type, [["Single Family", "Single Family"],["Townhome", "Townhome"],["Duplex", "Duplex"], ["Multi Family", "Multi Family"]], id: "home_type", prompt: "Select...", class: "form-control" %>
						</div>
					</div>

					<div class="col-md-4 select">
						<div class="form-group">
							<label>Bedrooms</label>
							<%= f.select :bed_room, [["1", 1],["2", 2],["3", 3], ["4", 4], ["5", 5]],  id: "bed_room", prompt: "Select...", class: "form-control" %>
						</div>
					</div>

					<div class="col-md-4 select">
						<div class="form-group">
							<label>Bathrooms</label>
							<%= f.select :bath_room, [["1", 1],["2", 2],["3", 3], ["4", 4], ["5", 5]],  id: "bed_room", prompt: "Select...", class: "form-control" %>
						</div>
					</div>

				</div>

				<div><%= f.submit "Create House", class: "btn btn-normal" %></div>
				
			<% end %>


		</div>
	</div>
</div>