<!-- Image -->
<div class="row">
	<div class="col-md-12 hidden-house-img">
		<% if @user_can_view_lead_info %>
			<%= image_tag @house.cover_photo(nil), width: "100%" %>
		<% else %>
			<div class='blur-house-div'>
				<div class="hover-content">
	        <div role="alert" class="alert dark alert-warning alert-dismissible" style="text-align: center">
		        <h4></h4>
		        <p>
		          Purchase this lead to view house image.</p>
		      </div>
	    	</div>
	    </div>
		<% end %>
	</div>
</div>
<hr/>

<div class="row">

	<!-- Left Panel -->
	<div class="col-md-12">
		<!-- Listing Name -->
		<div class="row">
			<div class="col-md-6">
				<h3><%= @house.listing_name %></h3>
				<% if @user_can_view_lead_info %>
					<%= @house.address %> <br>
					<%= @house.city %>,
					<%= @house.state %>,
					<%= @house.zip_code %> <br>
					<%= @house.Neighboorhood %>
				<% else %>
					<%= image_tag 'blur_address.jpg', class: 'house-address-blur', style: 'width: 38%; margin-left: -7px',  title: "Purchase lead to view house address" %>
						<div class="house-address-hover-content">
		        	<div role="alert" class="alert dark alert-warning alert-dismissible" style="text-align: center">
			        	<p>Purchase this lead to view house address.</p>
			      	</div>
			      </div>
				<% end %>

			</div>
			<div class="col-md-2 text-center">
				<% if @user_can_view_lead_info %>
						<%= image_tag avatar_url(@house.user), class: "img-circle avatar-large" %><br/><br/>
		        		<%= @house.user.fullname %>
				<% end %>
			</div>

			<!-- Purchase Form -->
			<div class="col-md-4">
				<% if current_user.present? && current_user.has_payment_method? %>
					<%= render 'bookings/form' %>
				<% elsif current_user.present? %>
 					<%= link_to payment_method_path, data: { no_turbolink: true } do %>
 							<button class= "btn btn-default" <%= @user_can_view_lead_info ? 'disabled' : '' %> >Purchase</button>
 						<% end %>
				<% else %>
					<%= link_to "login", new_user_session_path, class: "btn btn-default" %>
				<% end %>
				<% if @user_can_view_lead_info && current_user.id != @house.user.id %>
					<%= link_to "Send Message To owner ", conversations_path(sender_id: current_user.id, recipient_id: @house.user.id), method: :post, class: "btn btn-default" %>
				<% end %>
			</div>

		</div>
		<hr/>

		<!-- Room Info -->
		<div class="row text-babu">
			<div class="row text-center row-space-1">
				<div class="col-md-2">
					<i class="fa fa-home fa-2x"></i>
				</div>
				<div class="col-md-2">
					<i class="fa fa-bed fa-2x"></i>
				</div>
				<div class="col-md-2">
					<i class="fa fa-bath fa-2x"></i>
				</div>
				<div class="col-md-2">
					<i class="fa fa-automobile fa-2x"></i>
				</div>
				<div class="col-md-2">
					<i class="fa fa-area-chart fa-2x"></i>
				</div>
				<div class="col-md-2">
					<i class="fa fa-usd fa-2x"></i>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-2"><%= @house.home_type %></div>
				<div class="col-md-2"><%= pluralize(@house.bed_room, "Bedroom")  %></div>
				<div class="col-md-2"><%= pluralize(@house.bath_room, "Bathroom")   %></div>
				<div class="col-md-2"><%= @house.garage %> Car Garage</div>
				<div class="col-md-2"><%= @house.sq_feet %> Square Ft</div>
				<div class="col-md-2"><%= number_to_currency(@house.price, precision: 0) %> Asking Price</div>
			</div>
		</div>
		<hr/>

		<!-- About -->
		<div class="row">
			<div class="col-md-6 text-center">
				<h3>About This Listing</h3>
				<%= @house.summary %>
			</div>
				<% if @user_can_view_lead_info %>
					<div class="col-md-6  text-center">
						<h3>Repairs</h3>
						<%= @house.repairs %>
					</div>
				<% else %>
					<div class="col-md-6  text-center">
        	<%= image_tag 'repairs-blurred.jpg', style: 'width: 30%' %>
        	</div>
				<% end %>
		</div>
		<hr/>

		<!-- Amentities -->
		<div class="row">
			<div class="col-md-3">
				<h4>Features</h4>
			</div>

			<div class="col-md-9">
				<div class="row">
					<div class="col-md-4">
						<ul class="amenities">
							<li class ="<%= 'text-line-through' if !@house.is_air %>">Central Air</li>
							<li class ="<%= 'text-line-through' if !@house.is_heating %>">Heating</li>
							<li class ="<%= 'text-line-through' if !@house.fridge %>">Fridge</li>
							<li class ="<%= 'text-line-through' if !@house.stove %>">Stove</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="amenities">
							<li class ="<%= 'text-line-through' if !@house.carpet %>">Carpet</li>
							<li class ="<%= 'text-line-through' if !@house.hardwood %>">Hardwood</li>
							<li class ="<%= 'text-line-through' if !@house.is_pool %>">Pool</li>
							<li class ="<%= 'text-line-through' if !@house.storage %>">Storage</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="amenities">
							<li class ="<%= 'text-line-through' if !@house.is_occupied %>">Occupied</li>
							<li class ="<%= 'text-line-through' if !@house.warranty %>">Home Warranty</li>
							<li class ="<%= 'text-line-through' if !@house.active %>">Active Listing</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr/>

		<!-- Carousel of Photos -->
		<% if @user_can_view_lead_info %>
			<div class="row">
				<% if @photos.length > 0 %>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<% @photos.each do |photo| %>
						<li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
						<% end %>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<% @photos.each do |photo | %>
						<div class="item <%= 'active' if photo.id == @photos[0].id %>">
							<%= image_tag photo.image.url(:carousel), style: 'margin: auto' %>
						</div>
						<% end %>
					</div>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<% end %>
			</div>
			<hr/>
		<% else %>
		<div style="margin-bottom: 2em;">
			<%= image_tag 'carousel-blurred.jpg', style: 'width: 100%' %>
			</div>
		<% end %>



    <!-- GOOGLE MAP -->
    <div class="row">
    	<% if @user_can_view_lead_info %>
		    <div id="map" style="width: 100%; height: 400px"></div>


						<script>
							function initialize() {
								var location = {lat: <%= @house.latitude %>, lng: <%= @house.longitude %>};
								var map = new google.maps.Map(document.getElementById('map'), {
									center: location,
									zoom: 14
								});

								var marker = new google.maps.Marker({
									position: location,
									map: map
								});

								var infoWindow = new google.maps.InfoWindow({
									content: '<div id="content"><%= image_tag @house.cover_photo(:thumb) %></div>'
								});

								infoWindow.open(map, marker);
							}

		          google.maps.event.addDomListener(window, 'turbolinks:load', initialize);
		          		</script>
					<hr/>
				</div>
			<% else %>
				<div class="house-map-hover-content">
        	<div role="alert" class="alert dark alert-warning alert-dismissible" style="text-align: center">
	        	<p>Purchase this lead to view house in google maps.</p>
	      	</div>
			   </div>
				<div style="margin-bottom: 2em;">
        	<%= image_tag 'blur_map.jpg', class: 'map-blur-img',  title: "Purchase lead to view house location" %>
        </div>
   	  <% end %>
		</div>
	</div>

	<!-- Right Panel -->

</div>
